/*
// #Links
// --------------------------------------------------
*/
a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #258cd1;
  text-decoration: underline;
}
/* Logo */
.header .logo h1 > a:first-letter,
.header .logo h2 > a:first-letter {
  color: #3498db;
}
/*
// #Navigation
// --------------------------------------------------
*/
@media all and (min-width: 992px) {
  .fhmm .navbar-collapse .navbar-nav > li > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav > li > a:focus:before {
    background: #3498db;
  }
  .fhmm .navbar-collapse .navbar-nav > li.active > a:before,
  .fhmm .navbar-collapse .navbar-nav > li.active > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav > li.active > a:focus:before {
    background: #3498db;
  }
  .fhmm .navbar-collapse .navbar-nav > li.open > a:before,
  .fhmm .navbar-collapse .navbar-nav > li.open > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav > li.open > a:focus:before {
    background: #3498db;
  }
  .fhmm .navbar-collapse .navbar-nav > li.current_page_item > a:before, .fhmm .navbar-collapse .navbar-nav > li.current_page_item > a:hover:before, .fhmm .navbar-collapse .navbar-nav > li.current_page_item > a:focus:before{
    background: #3498db;
  }
}
/* Header v4 */
.header-top-colored .header-top {
  background: #3498db;
  color: #fff;
}
.header-top-colored .header-top a {
  color: #fff;
}
.header-top-colored .header-top a:hover {
  border-bottom-color: #fff;
}
.header-top-colored .header-top .fa {
  color: #fff;
}
.header-top-colored .header-top ul > li:before {
  background: #fff;
}
header.menu-colored .fhmm {
  /* Navigation styles - For Desktop */
}
@media all and (min-width: 992px) {
  header.menu-colored .fhmm .navbar-nav > li {
    /* Submenu */
  }
  header.menu-colored .fhmm .navbar-nav > li > a:hover,
  header.menu-colored .fhmm .navbar-nav > li > a:focus {
    background: #3498db;
  }
  header.menu-colored .fhmm .navbar-nav > li.active > a,
  header.menu-colored .fhmm .navbar-nav > li.active > a:hover,
  header.menu-colored .fhmm .navbar-nav > li.active > a:focus {
    color: #3498db;
  }
  header.menu-colored .fhmm .navbar-nav > li.open > a,
  header.menu-colored .fhmm .navbar-nav > li.open > a:hover,
  header.menu-colored .fhmm .navbar-nav > li.open > a:focus {
    background: #3498db;
  }
  header.menu-colored .fhmm .navbar-nav > li .dropdown-menu > li.active > a {
    background: #3498db;
  }
  header.menu-colored .fhmm .navbar-nav > li .dropdown-menu > li > a:hover {
    background: #3498db;
  }
}
/* Header v6 */
header.menu-pills .fhmm {
  /* Navigation styles - For Desktop */
}
@media all and (min-width: 992px) {
  header.menu-pills .fhmm .navbar-nav > li > a:hover,
  header.menu-pills .fhmm .navbar-nav > li > a:focus {
    background: #3498db;
  }
  header.menu-pills .fhmm .navbar-nav > li.active > a,
  header.menu-pills .fhmm .navbar-nav > li.active > a:hover,
  header.menu-pills .fhmm .navbar-nav > li.active > a:focus {
    color: #3498db;
  }
  header.menu-pills .fhmm .navbar-nav > li.open > a,
  header.menu-pills .fhmm .navbar-nav > li.open > a:hover,
  header.menu-pills .fhmm .navbar-nav > li.open > a:focus {
    background: #3498db;
  }
}
/* Slider */
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
  background: #3498db !important;
}
.tp-bullets.simplebullets .bullet:hover:after,
.tp-bullets.simplebullets .bullet.selected:after {
  background: #3498db;
}
/* Widgets */
.widget .title > a:hover {
  color: #3498db;
}
.contacts-widget.widget__footer .contacts-info-list > li a:hover {
  color: #3498db;
}
.widget_flickr .flickr-feed > li > a:hover:before {
  border-color: #3498db;
}
/* Pages */
.error-title {
  color: #3498db;
}
/* Blog */
.entry.entry__with-icon .entry-icon {
  background-color: #3498db;
}
.entry .entry-header h2 > a:hover {
  color: #3498db;
}
.entry .entry-meta a:hover {
  border-bottom: 1px solid #3498db;
}
.entry .entry-thumb > a:before {
  background: #3498db;
}
/* Comments */
.commentlist .bypostauthor .comment-wrapper {
  border-left-color: #3498db;
}
/*  Project Item Overlay */
.project-item .dlink,
.project-item .zoom {
  color: #3498db;
}
.project-item .dlink:hover,
.project-item .zoom:hover {
  background: #3498db;
}
/*  Portfolio Description  */
.project-desc .title > a:hover {
  color: #3498db;
}
/* Widgets */
/* Base Widgets */
.widget_archive ul li:before,
.widget_nav_menu ul li:before,
.widget_meta ul li:before,
.widget_pages ul li:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li:before,
.widget_categories ul li:before {
  color: #3498db;
}
/* Widget :: Latest Post Widget */
.widget .title > a:hover {
  color: #3498db;
}
.widget.widget__footer .title > a:hover {
  color: #3498db;
}
/* Widget :: Latest Post Widget */
.latest-posts-widget .title > a:hover {
  color: #3498db;
}
/* Widget :: Contacts Info */
.contacts-widget .contacts-info-list > li a:hover {
  color: #3498db;
}
/* Footers Widgets specific styling */
.widget__footer {
  /* Base Widgets */
}
.widget__footer.widget_archive ul li:hover,
.widget__footer.widget_nav_menu ul li:hover,
.widget__footer.widget_meta ul li:hover,
.widget__footer.widget_pages ul li:hover,
.widget__footer.widget_recent_comments ul li:hover,
.widget__footer.widget_recent_entries ul li:hover,
.widget__footer.widget_categories ul li:hover {
  background: #3498db;
}
.widget__footer {
  /* Base Widgets */
}
.widget__footer.widget_archive ul li:hover,
.widget__footer.widget_nav_menu ul li:hover,
.widget__footer.widget_meta ul li:hover,
.widget__footer.widget_pages ul li:hover,
.widget__footer.widget_recent_comments ul li:hover,
.widget__footer.widget_recent_entries ul li:hover,
.widget__footer.widget_categories ul li:hover {
  background: #3498db;
}
/*
// #Headings
// --------------------------------------------------
*/
.section-dark .title-accent > h3 > span {
  color: #3498db;
}
.title-decorated span {
  color: #3498db;
}
/*
// #Buttons
// --------------------------------------------------
*/
.btn-primary {
  background-image: -webkit-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background-image: linear-gradient(to bottom, #3498db 0%, #258cd1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3498db', endColorstr='#ff258cd1', GradientType=0);
  border-color: #258cd1;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #258cd1;
  border-color: #258cd1;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #258cd1;
  border-color: #258cd1;
}
/*
// #Lists
// --------------------------------------------------
*/
.list ul li:before {
  color: #3498db;
}
.list.list__lg ul li:before {
  border: 1px solid #3498db;
}
/*
// #Social Links
// --------------------------------------------------
*/
.social-links__primary > li > a {
  background: #3498db;
  border: 1px solid #3498db;
}
.social-links__primary > li > a:hover {
  color: #3498db;
}
/*
// #Tabs
// --------------------------------------------------
*/
.tabs .nav-tabs > li.active > a {
  color: #3498db;
}
.tabs .nav-tabs > li.active > a:after {
  background: #3498db;
}

/*
// #Icon Box
// --------------------------------------------------
*/
.icon-box .icon {
  color: #3498db;
}
.icon-box.circled .icon:before {
  background: #3498db;
}
.icon-box.squared .icon:before {
  background-color: #3498db;
}
.icon-box.bordered .icon {
  color: #3498db;
}
.icon-box.bordered .icon:before {
  background: #fff;
}
.icon-box.bordered .icon:after {
  background: #3498db;
}

/*
// #Blockquotes & Testimonial
// --------------------------------------------------
*/
blockquote {
  border-left: 4px solid #3498db;
}
/*
// #Dropcaps
// --------------------------------------------------
*/
.dropcap {
  color: #3498db;
}
.dropcap.dropcap__rounded {
  background-color: #3498db;
}
/* Featured Item */
@media (min-width: 992px) {
  .featured-item:hover {
    background-color: #3498db;
  }
}
/*
// #Shop
// --------------------------------------------------
*/
table.cart-total > tbody > tr > td .amount {
  color: #3498db;
}
.price .amount {
  color: #3498db;
}
.star-rating span {
  color: #3498db;
}
.products .product .onsale {
  background: #3498db;
}
/* MediaElements Custom Colors */
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #3498db;
}
/* Layer Slider */
.ls-icon.ls-icon-lg {
  color: #3498db;
}
.ls-caption1 {
  background: #3498db;
}
.ls-caption3 {
  background: #3498db;
}
/* Magazine Layout */
.owl-carousel__posts .project-item .project-desc .meta .comments > .fa {
  color: #3498db;
}
/* Magazine Slider */
.magazine-slider-holder .item-desc {
  background: rgba(52, 152, 219, 0.85);
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.widget__footer .tagcloud a, .widget_tag_cloud.widget__sidebar .tagcloud a {
    color: #fff;
    border-color: #e4e4e4;
    background-image: -webkit-linear-gradient(top, #3498db 0%, #3498db 100%);
    background-image: linear-gradient(to bottom, #3498db 0%, #3498db 100%);
    background-repeat: repeat-x;
}
section#callout {
    background: #3498db !important;
}
.post-nav a {
  background-image: linear-gradient(to bottom, #3498db 0%, #3498db 100%);
  background-repeat: repeat-x;
  border-color: #3498db;
}
.fhmm .navbar-collapse .navbar-nav > li.buy-now > a, .fhmm .navbar-collapse .navbar-nav > li.buy-now > a:hover {
   background-color: #3498db;
    color: #fff;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background-color: #3498db;
    padding: 8px;
  }
  button.single_add_to_cart_button.button.alt:hover {
    opacity: 0.8;
    background: #3498db;
}
.woocommerce-info,
.woocommerce-message {
    border-top-color: #3498db;
}
.woocommerce-info:before,
.woocommerce-message:before{
  color: #3498db;
}
.woocommerce span.onsale{
  background-color: #3498db;
}
.woocommerce div.product p.price, .woocommerce div.product span.price,.woocommerce ul.products li.product .price{
	color:#3498db;
}
button, input[type="button"], input[type="submit"] {
  background-color: #3498db;
}